.rdece {
    font-size: 12px;
    color: red;
}

h1 {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 100px;
}

em {
    font-weight: bold;
}

td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}